ul{
    color: var(--thirt);
}
li{
    list-style: none;
}
.navar{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    width: 100%;
}

.navar__account{
    display: flex;
    gap: 1rem;
    padding: 12rem 1rem 1rem;
    width: 100%;
}
.navar__links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.navar__links-one{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.navar__links-prod{
    color: var(--primary);
    text-decoration: none;
}
.navar__products{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.navar__colapsed{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.burger_cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: var(--thirt);
    height: 200px;
}
.logotype{
    width: 150px;
}
