@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: light;
    font-weight: 300;
    src: url(./assets/font/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: medium;
    font-weight: 500;
    src: url(./assets/font/Roboto/Roboto-Medium.ttf);
}

:root{
    --primary:#E38B29;

    --second: #FFD8A9;
    
    --thirt: #FDEEDC;

    --four: #FFF9F3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    
}
body{
    background-image: url('../assets/img/Fondo.jpg');
}

a{
    text-decoration: none;
    
}

ul, ol{
    list-style: none;
}