@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: light;
    font-weight: 300;
    src: url(./assets/font/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: medium;
    font-weight: 500;
    src: url(./assets/font/Roboto/Roboto-Medium.ttf);
}

:root{
    --primary:#E38B29;
    --second: #FFD8A9;
    --thirt: #FDEEDC;
    --four: #FFF9F3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('../src/assets/images/Fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

main{
    display:flex;
    flex-direction: column;
    gap:3rem;
}

.card_products{
    width:20rem;
    border: 1px solid var(--primary);
    background-color: var(--second)!important;
    border-radius: 0.5rem;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    transition: 0.35s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card_products:hover{
    box-shadow: 0 0 20px rgb(255, 149, 37);
    transform: scale(1.05);
    transition: 0.35s;
}

.card_title_product{
    display: flex!important;
    font-size: 14px!important;
    font-weight: bold!important;
    justify-content: space-between!important;
}

