.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.875rem;
    margin-top: 2rem;
    background-color: var(--thirt);
    display: flex;
    justify-content: end;
    padding-right: 1rem;
    z-index: 100;
}

.footer__btn{
    background-color: transparent;
    border: none;
    text-decoration:none;
    color:#000
}