.cart_checkout{
    background:var(--four);
    min-height:100vh;
    
}

.cart_checkout_container{
    padding-top:2.5rem;
    padding-left:1rem;
    padding-right:1rem;
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

.cart_checkout_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.cart_checkout_input{
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-bottom: 1rem;
    font-family:'Roboto';
}

.cart_checkout_inputs_container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1rem;
    font-family:'Roboto';
    font-weight:100;
}


.cart_checkout_input_lg{
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-bottom: 1rem;
    font-family:'Roboto';
    font-weight:100;
}

.cart_checkout_input_lg textarea{
    padding: 1rem;
    background:var(--four);
    border-radius: 0.5rem; 
    border: solid 2px #000  
}

.cart_checkout_input input{
    padding: .5rem;
    background:var(--four);
    border-radius: 0.5rem;
    height:2.5em;
    
}

.cart_checkout_final_button{
    
    margin-bottom: 4rem;
    font-family:'Roboto';
    font-weight:100;

}



.cart_checkout_title{
    font-weight: 700;
    color: var(--primary);
    font-family:'Roboto';
    
}



.cart_checkout_title h5{
    font-size: 1.1rem;
    color:#000;
    font-weight: 500;
    font-family:'Roboto';
    background: var(--second);
    padding: 1rem;
    border-radius: 0.5rem;
}



.cart_checkout_title_2{
    font-weight: 700;
    color: var(--primary);
    font-family:'Roboto';
    
}


.cart_checkout_title_2 p{
    display:flex;
    gap:1em;
    font-size: 1rem;
    color:#000;
    font-weight: 500;
    font-family:'Roboto';
    background: var(--second);
    padding-top:0.3rem;
    padding-bottom:0.3rem;
    padding-left:1rem;
    border-radius: 0.5rem;
    margin-bottom:.3rem;
    
}


.cart_checkout_empty{
    display: flex;
    background:var(--thirt);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    padding: 1rem;
    margin:1rem;
    font-family:'Roboto';
}


.cart_checkout_item {
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: center;
    padding: .1rem;
    line-height: .5em;
 
}

.cart_checkout_items h6{
    margin-top:1em;
    margin-bottom:1em;
}





.cart_checkout_summary {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(255, 136, 0) 33%, rgba(255, 0, 0, 0) 0%);
    background-position: top;
    background-size: 14px 1px;
    background-repeat: repeat-x;
    margin-top: 1rem;
    padding-top:1rem;
    font-family:'Roboto';

}

.cart_checkout_summary_buttons{
   margin-top:1rem;
   display: flex;
   flex-direction: column;
   gap:20px;

}



