.dashboardContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--four);
}

.dashboardContainer .welcomeContainer {
    width: 100%;
    height: 300px;
    background: linear-gradient(320deg, rgba(255,102,0,0.17690826330532217) 0%, rgba(242,150,11,0.6727065826330532) 100%), url('./src/assets/images/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeContainer h2 {
    color: #fff;
    font-weight: 300;
    font-size: 3rem;
}

.welcomeContainer h5 {
    color: #fff;
    font-weight: 500;
}

.cardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.itemCard {
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    margin: 10px;
    border-radius: 5px;
    background: var(--primary);
}

.itemCard .link {
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.link span {
    padding-left: 10px;
}

@media(min-width: 568px) {
    .dashboardContainer .welcomeContainer {
        height: 200px;
    }

    .cardContainer {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .itemCard {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        margin: 10px;
    }

    .itemCard .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .link span {
        padding: 0px;
    }
}

@media(min-width: 768px) {
    .cardContainer {
        margin-top: 50px;
    }

    .itemCard {
        width: 200px;
        height: 200px;
        margin: 20px;
    }

    .itemCard .link {
        font-size: 21px;
    }
}

