.admin_product_list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    background-color: var(--four);
    border-radius: 0.5rem;
    min-height:100vh;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0,0,0,0.2);
    font-family:'Roboto';
}





.list_products_title{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
    font-family:'Roboto'
}

.list_products_title h5{
    font-size: 1.2rem;
    color:#000;
    font-weight: 400;
    
    font-family:'Roboto';
   background: var(--second);
    padding: 1rem;
    border-radius: 0.5rem;
}


.table_head_admin{
    background:var(--primary);
    color:#fff;
    
    font-family:'Roboto';
    
    
}

.products_admin_table{
    
   
}
.products_admin_table tbody{
  border: 1px solid var(--primary);
  
}

.products_admin_table th{
   font-weight: lighter;
   padding:.8rem!important;
}

.products_admin_table td{
    background:var(--thirt)!important;
    color:#000;
    padding:.7rem!important;
}